In [2]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import mean_squared_error ,mean_absolute_error
from statsmodels.tsa.arima_model import ARIMA

%matplotlib inline

In [3]:
df = pd.read_csv('Clean_Header_20190130.csv')
caf_1 = pd.read_csv('caffeine_mgs.csv')
drk_1 = pd.read_csv('count_drinks.csv')

In [4]:
df.head()

        dates  efficiency  asleep_min  awake_min  restless_min  timeInBed
0  2018-10-08        96.0       347.0        2.0          14.0      363.0
1  2018-10-09        93.0       337.0        4.0          21.0      362.0
2  2018-10-10        96.0       417.0        2.0          17.0      437.0
3  2018-10-11        96.0       417.0        2.0          17.0      437.0
4  2018-10-12        96.0       508.0        0.0          24.0      532.0

In [7]:
caffeine = pd.merge(caf_1,drk_1,on = 'Date')

In [11]:
caffeine.columns = ['dates','caffeine_mg','drink_counter']

In [13]:
import datetime

In [14]:
# datetime.datetime.strptime("21/12/2008", "%d/%m/%Y").strftime("%Y-%m-%d")

'2008-12-21'

In [23]:
caffeine.head()

        dates  caffeine_mg  drink_counter
0  2019-01-10       263.50              2
1  2019-01-11       330.00              1
2  2019-01-12       395.00              2
3  2019-01-13       371.25              2
4  2019-01-14       247.50              1

In [22]:
caffeine['dates'] = [datetime.datetime.strptime(i, "%m/%d/%y").strftime("%Y-%m-%d") for i in caffeine['dates']]

In [27]:
caffeine.to_csv('cleaned_caffeine.csv')