In [2]:
# !pip install ipywidgets

In [4]:
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

In [6]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('/Users/katychow/Projects/quantified_self/Data/data_for_modeling_cleaned_20190204.csv')

In [9]:
df.head()

,dates,efficiency,asleep_min,awake_min,restless_min,timeInBed,restless_rolling7,awake_rolling7,dayofweek,caffeine_mg,drink_counter
0,2018-10-08,96.0,347.0,2.0,14.0,363.0,0.0,0.0,0,NaN,NaN
1,2018-10-09,93.0,337.0,4.0,21.0,362.0,0.0,0.0,1,NaN,NaN
2,2018-10-10,96.0,417.0,2.0,17.0,437.0,0.0,0.0,2,NaN,NaN
3,2018-10-11,96.0,417.0,2.0,17.0,437.0,0.0,0.0,3,NaN,NaN
4,2018-10-12,96.0,508.0,0.0,24.0,532.0,0.0,0.0,4,NaN,NaN

In [12]:
df.loc[df['asleep_min']>500]

,dates,efficiency,asleep_min,awake_min,restless_min,timeInBed,restless_rolling7,awake_rolling7,dayofweek,caffeine_mg,drink_counter
4,2018-10-12,96.0,508.0,0.0,24.0,532.0,0.000000,0.000000,4,NaN,NaN
47,2018-11-22,95.0,559.0,0.0,31.0,590.0,19.857143,2.142857,3,NaN,NaN
99,2019-01-06,95.0,535.0,5.0,25.0,565.0,13.428571,2.428571,6,NaN,NaN
103,2019-01-10,94.0,514.0,9.0,54.0,577.0,23.714286,4.000000,3,263.5,2.0
120,2019-01-27,97.0,677.0,2.0,17.0,696.0,14.285714,1.285714,6,166.0,3.0

In [19]:
@interact
def show_nights_more_than(column=['asleep_min','restless_min'], x=(0,700,5)):
    return df.loc[df[column] > x]

interactive(children=(Dropdown(description='column', options=('asleep_min', 'restless_min'), value='asleep_min…