In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('/Users/katychow/Projects/quantified_self/Data/data_for_modeling_cleaned_20190204.csv')

In [3]:
df.head()

,dates,efficiency,asleep_min,awake_min,restless_min,timeInBed,restless_rolling7,awake_rolling7,dayofweek,caffeine_mg,drink_counter
0,2018-10-08,96.0,347.0,2.0,14.0,363.0,0.0,0.0,0,NaN,NaN
1,2018-10-09,93.0,337.0,4.0,21.0,362.0,0.0,0.0,1,NaN,NaN
2,2018-10-10,96.0,417.0,2.0,17.0,437.0,0.0,0.0,2,NaN,NaN
3,2018-10-11,96.0,417.0,2.0,17.0,437.0,0.0,0.0,3,NaN,NaN
4,2018-10-12,96.0,508.0,0.0,24.0,532.0,0.0,0.0,4,NaN,NaN

In [8]:
df.groupby(by='dayofweek')['asleep_min'].mean()

dayofweek
0    396.000000
1    407.235294
2    427.250000
3    365.400000
4    422.437500
5    344.700000
6    440.062500
Name: asleep_min, dtype: float64

In [9]:
df.groupby(by='dayofweek')['asleep_min'].min()

dayofweek
0     89.0
1    337.0
2    373.0
3     56.0
4    363.0
5     64.0
6    284.0
Name: asleep_min, dtype: float64

In [10]:
df.groupby(by='dayofweek')['asleep_min'].max()

dayofweek
0    487.0
1    457.0
2    488.0
3    559.0
4    508.0
5    438.0
6    677.0
Name: asleep_min, dtype: float64