In [1]:
import pandas as pd

In [2]:
ds = pd.read_csv('/Users/katychow/Projects/quantified_self/Data/sleep_data_20190206.csv')
df = pd.read_csv('/Users/katychow/Projects/quantified_self/Data/Sleep Data/fitbit_sleep_header_20190128.csv')

In [3]:
def map_mins(minute):
    if minute < 15:
        return 0
    elif minute < 30:
        return 15
    elif minute < 45:
        return 30
    else:
        return 45

In [4]:
ds['min_map'] = ds['min'].apply(map_mins)

In [5]:
ds.head()

,dateTime,level,logID,seconds,date,hour,min,sec,nnn,min_map
0,2018-09-08T23:53:30.000,asleep,19454971019,180,2018-09-08,23,53,30,0,45
1,2018-09-08T23:56:30.000,restless,19454971019,60,2018-09-08,23,56,30,0,45
2,2018-09-08T23:57:30.000,asleep,19454971019,960,2018-09-08,23,57,30,0,45
3,2018-09-09T00:13:30.000,restless,19454971019,60,2018-09-09,0,13,30,0,0
4,2018-09-09T00:14:30.000,asleep,19454971019,180,2018-09-09,0,14,30,0,0

In [6]:
ds['hr_min'] = ds.apply(lambda x:'%s%s' % (x['hour'],x['min_map']),axis=1)

In [7]:
df.head(2)

,asleep_cnt,asleep_min,awake_cnt,awake_min,dateOfSleep,duration,efficiency,endTime,infoCode,logID,minutesAfterWakeup,minutesAsleep,minutesAwake,minutesToFallAsleep,restless_cnt,restless_min,startTime,timeInBed,type
0,0,380,0,0,2018-09-09,24480000,93,2018-09-09T06:42:00.000,0,19454971019,0,380,28,0,17,28,2018-09-08T23:53:30.000,408,classic
1,0,416,2,2,2018-09-08,25860000,97,2018-09-08T06:33:30.000,0,19445045219,0,416,15,0,9,13,2018-09-07T23:22:30.000,431,classic

In [8]:
features = ['dateOfSleep','logID','endTime','startTime','timeInBed']

In [9]:
df = df[features]

In [10]:
test = pd.DataFrame(pd.pivot_table(ds,index=['logID','level'])['seconds'])

In [11]:
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

In [12]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual
# Standard plotly imports
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
# Using plotly + cufflinks in offline mode
import cufflinks
cufflinks.go_offline(connected=True)
init_notebook_mode(connected=True)